.noScrollbar::-webkit-scrollbar { display: none; }
.noScrollbar { -ms-overflow-style: none; scrollbar-width: none; }

/* мягкая маска по краям, чтобы выглядело как слайдер */
.maskEdges {
    /*-webkit-mask-image: linear-gradient(90deg, transparent 0%, #000 8%, #000 92%, transparent 100%);*/
    mask-image: linear-gradient(90deg, transparent 0%, #000 8%, #000 92%, transparent 100%);
}

/* карточка чуть меньше: ~66vw на мобилке */
.card {
    position: relative;
    width: min(78vw, 360px);
    min-width: min(78vw, 360px);
    aspect-ratio: 9 / 19.5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    transform-style: preserve-3d;
}
